body {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    background-color: rgba(164, 162, 162, 0.75);
}
  
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
  

.span-two {
    grid-column: span 2;
    color: #080808;
    background-color: rgba(60, 59, 59, 0.8);
}
  
.output{
    grid-column: 1 / -1;
    background-color: rgba(21, 78, 49, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
  
.output .previous-operand{
    color: rgba(255,255, 255, 0.75);
    font-size: 1.5rem;
}
  
.output .current-operand{
    color: white;
    font-size: 2.5rem;
}